<body style="background-color: Lavender;">
    <br>
            <div  id="columnas">
            <div class="col mb-4">
            <div class="input-group mb-3">
               <br>
               <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div  class="card-header">{{notas.fecha | date:'dd-MM-yyyy'}}</div>
                <div class="card-body">
                  <h5 class="card-title" style="color: rgb(10, 40, 214);">{{notas.notasadd}}</h5>
                  <p class="card-text" style="color: rgb(10, 40, 214);">{{notas.Dadd}}</p>
                </div>
              </div>
              </div>
            </div>
           
        </div>
    </body>